/* You can add global styles to this file, and also import other style files */

html {
    // max-height: 100vh;
}
body {
    // height: 100%;
}

html,
body {
    height: 100%;
    width: 100%;
    // overflow: auto;
    // background-color: red;
}
* {
    margin: 0;
}